
body{
  color: black
}

.movies{
  display:flex;
  list-style: none;
  overflow-x: scroll;
  overflow-y: hidden;
  height: 310px;
  width: 84%;
  position: relative;
  left: 120px;
}

#trending{
  position: relative;
  left: 120px;
  margin-top: 15px;
}

.tv{
  display:flex;
  list-style: none;
  overflow-x: scroll;
  overflow-y: hidden;
  height: 310px;
  width: 84%;
  position: relative;
  left: 120px;
}

#posters{
  max-width: fit-content;
  height: 235px;
  margin-top: 50px;
}

#TvPoster{
    max-width: fit-content;
    height: 235px;
    /* margin-top: ; */
}

#popularMovies{
  max-width: fit-content;
  height: 250px;
  margin-top: 50px;
}

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  background: rgba(194, 191, 191, 0.952);
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-thumb {
  background: gray;
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-thumb:hover{
  background-color: black;
}


::-webkit-scrollbar-corner {
  background: #fff3;
}

#login{
  color: black;
}

#header{
  margin-bottom: 10px;
  height: 400px;
  width: 66%;
}

label{
  margin-bottom: 10px;
  margin-top: 10px;
}

#signup{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
}

h1{
  font-size: 2.2rem;
}

#searchBtn{
  margin-left: 10px;
}

#background{
  background-repeat: no-repeat;
}
